header
    div#logo IT - School
    div#person
        div.name= name
        div.name &nbsp;&nbsp;&nbsp;Rating&nbsp;&nbsp;&nbsp;
        div.name= points
    div#enter
        div.name= enter
block content