extends layout
block content
  include header
  main
    div.wrappToCentre
      div.sections
        div.section#roboto Робототехника
        div.section#multy Мультимедиa
        div.section#physic Физика
        div.section#net  Сетевые технологии

