doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.1.1.js")
    script(src="/javascripts/scripts.js")
    script(src="/socket.io/socket.io.js")
  body
    block content
