extends layout
block content
    include header
        main
            div.wrappToCentre
                div.wrappForquestions
                        div.question
                            div.content
                                h3 Вы являетесь хакером, чья очередная задача – получить файл с корпоративного сервера компании Х. Заказчик сообщил Вам следующую информацию:
                                ul
                                    li Имя файла : target.txt
                                    li IP адрес сервера : 192.168.100.1
                                    li ОС сервера : Linux
                                    li Имя пользователя : user001
                                    li Пароль пользователя : Pass001
                                | Вы смогли получить физический доступ к одному из маршрутизаторов фирмы X (Mikrotik RB201), он стоит у Вас на столе.
                                br
                                | Если Вы попробуете подключить Ваш компьютер к маршрутизатору с помощью патчкорда имеющегося у Вас на столе, то обнаружите что индикатор на маршрутизаторе соответствующий выбранному Вами порту не загорится. Это означает что порт выключен администратором при начальной настройке маршрутизатора.
                                | Выключение всех не используемых портов маршрутизаторов является стандартной мерой безопасности.
                                br
                                | Вы попытались зайти в учетную запись администратора под паролем по умолчанию, но пароль был изменен. Вы попытались еще 3 раза ввести пароль администратора, и с удивлением обнаружили, что маршрутизатор не блокируется для входа администратора. Это означает, что при начальной настройке маршрутизатора администраторы проявили халатность не установив блокировку при введении неправильного пароля несколько раз, а значит они могли проявить халатность и при выборе пароля административной учетной записи маршрутизатора.
                                | Вы решаетесь совершить атаку брутфорс на учетную запись администратора маршрутизатора, решив, что пароль будет состоять из строчных латинских букв и будет длиной 4 символа.

                            div.buttons
                        div.question
                            div.title
                                | Задание 1 - Взлом маршрутизатора атакой брутфорс
                            div.content
                                | Напишите программу, осуществляющую генерацию и проверку всех возможных паролей, состоящих из строчных латинских букв и имеющих длину 4 символа.
                                br
                                ul
                                    li
                                        i Формат выходных данных:
                                    li .txt файл с ключами на каждой строке
                                    li
                                        i Пример:
                                        ul
                                            li
                                                i Вывод
                                            li aaaa
                                            li aaab
                                            li aaac
                            form(method="POST" action="/net/1" enctype="multipart/form-data" name="quest1" id="quest1")
                                div.buttons
                                    label(for="file1") Прикрепить файл
                                    input(type="file" value="Прикрепить файл" name="file" id="file1")
                                div.buttons
                                    input(type="submit" value="Проверить задание 1")
                        div.question
                            div.title
                                | Задание 2. Настройка маршрутизатора
                            div.content
                                | С помощью краткого руководства по командам настройки маршрутизатора включите любой из портов маршрутизатора и подключите свой компьютер к этому порту c помощью патчкорда. Если Вы все сделали правильно, то теперь Ваш компьютер находится в локальной сети компании X и вы можете проверить,
                                | доступен ли целевой сервер в командной строке Windows командой ping IP-адрес сервера. Для проверки правильности выполнения задания нажмите кнопку «Проверить задание 2»
                                ul
                                    li
                                        i Теперь Ваш компьютер находится в локальной сети предприятия X. Вам известен IP адрес, учетная запись и пароль сервера на котором находится нужный Вам файл (эту информацию Вам сообщил заказчик). Вам просто необходимо скопировать файл с сервера.
                            div.buttons
                                input(type="button" value="Проверить задание 2" id="quest2")
                        div.question
                            div.title
                                | Задание 3. Проникновение на сервер и копирование файла
                            div.content
                                | С помощью эмулятора консоли Putty подключитесь к серверу с помощью протокола SSH. Используя краткое руководство по командам Linux найдите и скопируйте файл на свой компьютер.
                                br
                                | Для проверки правильности выполнения задания прикрепите скачанный файл в систему тестирования и нажмите кнопку «Проверить задание 3».
                                ul
                                    li
                                        i Получив файл Вы понимаете, что информация в нем зашифрована. Проведя анализ, Вы понимаете, что шифрование проводилось шифром Цезаря над алфавитом, состоящим из заглавных латинских букв, и теперь Вам необходимо провести дешифрацию файла.
                            form(method="POST" action="/net/3" enctype="multipart/form-data" name="quest3" id="quest3")
                                div.buttons
                                    label(for="file3") Прикрепить файл
                                    input(type="file" value="Прикрепить файл" name="file" id="file3")
                                div.buttons
                                    input(type="submit" value="Проверить задание 3")
                        div.question
                            div.title
                                | Задание 4. Дешифратор шифра Цезаря
                            div.content
                                | Напишите программу, которая будет производить дешифрацию строки зашифрованной с помощью шифра Цезаря над алфавитом из заглавных латинских букв.
                                br
                                ul
                                    li
                                        i Формат входных  данных:
                                    li &nbsp;&nbsp;&nbsp; Первая строка содержит целое число K – ключ шифра Цезаря.
                                    li &nbsp;&nbsp;&nbsp; Вторая строка содержит строку s, состоящую из |s| (1 ≤ |s| ≤ 200) заглавных латинских букв.
                                    li
                                        i Формат выходных данных:
                                    li &nbsp;&nbsp;&nbsp; Выведите строку, которая является результатом дешифрации.
                                br
                                |Теперь дешифруйте полученный вами файл и отправьте его на проверку тестирующей системе.
                            form(method="POST" action="/net/4" enctype="multipart/form-data" name="quest4" id="quest4")
                                div.buttons
                                    label(for="file4") Прикрепить файл
                                    input(type="file" value="Прикрепить файл" name="file" id="file4")
                                div.buttons
                                    input(type="submit" value="Проверить задание 4")