extends layout
block content
    include header
    main
        div.wrappToCentre
            div.wrappForquestions
                    div.question
                        div.content
                            h3 Перед Вами находится печатная плата с электрической цепью, представленной на Рисунке 1.
                            ul
                                li 3 соединительных провода,
                                li Датчик – Амперметр,
                                li Ноутбук,
                                li Набор резисторов различного сопротивления,
                                li Справочный материал «Определение сопротивление резистора».
                            | Амперметр подключен к ноутбуку, в котором запущена программа для получения показаний амперметра и ввода ответов на задания.
                            br
                            | Для получения показаний амперметра необходимо нажать кнопку «Получить показания». Если данные получены неправильно,
                            | то первое нажатие кнопки не приводит к штрафным баллам. Второе и каждое последующее нажатием на кнопку «Получить показания» приводит к начислению штрафных баллов.
                            br
                            | Вы можете включать в электрическую цепь резисторы, амперметр.
                        div.containerimg
                            img(src="")
                        div.buttons
                            input(type="button" value="Получить показания" id="getIndicatorsFromAmpermetr")
                    div.question
                        div.title
                            |Задание 1
                        div.content
                            | C помощью данной электрической цепи и других имеющихся элементов узнайте напряжение, которое подаются на данную электрическую цепь.
                            | Для проверки выполнения задания
                            | нажмите кнопку «Проверить задание 1» и ждите ответа тестирующей системы.

                        div.buttons
                            input(type="button" value="Проверить задание 1" id="physicCheckFirst")
                    div.question
                        div.title
                            | Задание 2
                        div.content
                            | Получите в данной цепи электрический ток силой x А.
                            br
                            | Для проверки выполнения нажмите кнопку «Проверить задание 2» и ждите ответа тестирующей системы.
                        div.buttons
                            input(type="button" value="Проверить задание 2" id="physicCheckSecond")