extends layout
block content
    include header
    main
        div.wrappToCentre
            div.wrappForquestions
                    div.question
                        div.title
                            | Задание 1
                        div.content
                            | Проверить правильность цепи
                            br
                            | Для проверки выполнения нажмите кнопку «Проверить задание 1» и ждите ответа тестирующей системы.
                        div.buttons
                            input(type="button" value="Проверить задание 2" id="physicCheck")