extends layout
block content
    include header
    main
        div.wrappToCentre
            div.wrappForquestions
                div.question
                    div.title
                        | Задание 1
                    div.content
                        | Перед вами стоит задача реализовать стрелку Пирса / штрих Шеффера, используя предоставленное оборудование.
                        | Для проверки выполнения задания
                        | нажмите кнопку «Проверить задание 1» и ждите ответа тестирующей системы.

                    div.buttons
                        input(type="button" value="Проверить задание 1" class="robotoCheck" id="0")
                div.question
                    div.title
                        | Задание 2
                    div.content
                        | Разработка автомата
                        | Для проверки выполнения задания
                        | нажмите кнопку «Проверить задание 1» и ждите ответа тестирующей системы.

                    div.buttons
                        input(type="button" value="Проверить задание 2" class="robotoCheck" id="1")
                div.question
                    div.title
                        | Задание 3
                    div.content
                        | Уровень топлива
                        | Для проверки выполнения задания
                        | нажмите кнопку «Проверить задание 1» и ждите ответа тестирующей системы.

                    div.buttons
                        input(type="button" value="Проверить задание 3" class="robotoCheck" id="2")